<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Plugin Stylesheets first to ease overrides -->
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="static/css/home_style.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="static/css/home_flexslider.css" media="screen" />
</head>
